{% extends 'base.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block body %}
  <div class="col-sm-7 mt-4 mx-4">
    <div class="row post mb-1">
      <div class="col-12">
        <h2 class="text-capitalize">{{post.title}}</h2>
        <p class="added"><a href="#" class="username">Haris</a>{{post.postDate|date("F jS \\à g:ia")}}</p>
        <p>{{post.content}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 container col-12">
    {{include('includes/sidebar.html.twig',{'latests':latests})}}
  </div>

{% endblock %}
